.xsb{
	position: absolute;
	visibility: hidden;
	top:0; left:0;
	z-index:-1;
}
#load_img{
	position: absolute;
	padding: 0;
	z-index:1;
}
div#xsb_notice{
	position: absolute;
	padding-left: 4px;
	padding-right: 4px;
	visibility: hidden;
	opacity: 0;
	z-index:1;
}
div.info{
	position:relative;
    z-index:0; 
}
div.info:hover{
	z-index:1;
	background:;
}
div.info span.tooltip{
	display: none;
}
div.info:hover span.tooltip{
	display:block; 
	position:absolute;
	top:0; left:0px;
	background:#FFFFFF; 
	color:#6C6C6C;
	padding: 0px; 
	width: 165px;
	height: auto;
	font-family: tahoma,verdana;
	text-align:center;
	size: 10;
	text-decoration:none;
}
img.xsb_status{
	border:0px;
}